@import url('http://fonts.googleapis.com/css?family=Black+Ops+One');

body {
    background-color: #f0f0f2;
    background: url("images/sky.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Black Ops One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#container {
	position:relative; /* needed for footer positioning*/
	width:60%;
  margin-left: 20%;
  margin-right: 20%;
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}


div#content{
  position: absolute;
  width: 50%;
  margin: 7% 25%;
	vertical-align: middle;
}

#title{
  font-family: "Black Ops One",cursive;
  margin: 0 auto;
  font-size: 1.6em;
  top: 0;
}

#title h1{
  text-shadow: 7px 7px gray;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}

#selectYes{
  width: 100%;
  position: absolute;
}

#selectYes ul{
  margin-top: 10%;
  margin-left: 30%;
}
#selectYes ul li{
  font-size: 1.8em;
  height: 50px;
  background:white;
  color: black;
  border-radius: 10px;
  border: 5px gray inset;
  padding: 10px;
  list-style: none;
  display: inline;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px gray;
}

#selectYes ul li:hover{
  background: radial-gradient(forestgreen,lightgreen);
  color: white;
  box-shadow: 3px 3px 8px gray;
  cursor: pointer;

}

#selectYes ul a{
  color: inherit;
  text-decoration: none;
}



@media (max-width: 700px) {
    body {
        background-color: #fff;
    }
    div {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 0.2em;
    }
    #homePage {
        float: right;
    }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
